.navbarHome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4rem;
  border-bottom: 1px solid rgba(165, 165, 165, 0.1);
  background-color: #011724;
}
.navbar-links-home{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-links_logo{
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: white;

}
.navbar-links_logo h1{
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 17px;
}
.navbar-links_logo img{
  margin-right: 5px;
  width: 100px; /* Defina o tamanho desejado em pixels */
  height: auto; /* Mantenha a proporção da imagem */
}
.navbar-links_container{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.navbar-links_container input {
  background: #1B1A21;
  border-radius: 10px;
  border: none;
  padding: 7px 19px 7px 15px;
  font-family: var(--font-family);
  outline: none;
  color: whitesmoke;
}

.navbar-sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  transition: font-size 0.3s, color 0.3s; /* Adicione uma transição suave de 0.3 segundos para font-size e color */
}
.userDiv{
  display: flex;
  align-items: center;
  background: var(--primary-btn-blue);
  border-radius: 10px;
  padding: 10px;
}
.userIcon{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.userIcon{
  margin: 0;
}
p.user{
  
  padding: 5px;
}
p.user:hover{
  color: #fff;
}


.navbar-links_container p:hover,
.navbar-sign p:hover,
.navbar-menu_container p:hover {
  font-size: 20px; /* Aumente o tamanho do texto ao passar o mouse */
  color: var(--secondary-color-blue); /* Altere a cor do texto ao passar o mouse */
}

.navbar-sign .primary-btn,
.navbar-menu_container-links-sign .primary-btn
{
  background: var(--primary-btn-blue);
  border-radius: 10px;
}
.navbar-sign .secondary-btn,
.navbar-menu_container-links-sign .secondary-btn
{
  background: transparent;
  border: 1px solid var(--secondary-color-blue);
  margin: 0 1rem;
  color: var(--secondary-color-blue);
  border-radius: 10px;
}

.navbar-sign button,
.navbar-menu_container button{
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  font-size: 16px;
}
.navbar-menu{
  margin-left: 1rem;
  display: none;
  position: relative;
}
.navbar-menu svg{
  cursor: pointer;
}
.navbar-menu_container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  width: 100%;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  z-index: 99;
}
.navbar-menu_container p {
  margin: 1rem 0;
}
.navbar-menu_container-links-sign{
  display: none;
}
@media screen and (max-width:1050px) {
  .navbar-links_container{
    display: none;
  }
  .navbar-menu{
    display: flex;
  }
 
}

@media screen and (max-width:700px) {
 .navbar{
   padding: 2rem 4rem;
 }
}
@media screen and (max-width:550px) {
  .navbar{
    padding: 2rem;
  }

  .navbar-sign{
    display: none;
  }
  .navbar-menu_container{
    top: 20px;
  }
  .navbar-menu_container-links-sign{
    display: block;
  }

  .navbar-menu_container-links-sign .secondary-btn{
    margin: 1rem 0;
  }

 }